.darkMode {
  footer {
    .footer__top {
      .nav {
        .nav-item {
          .nav-link {
            color: $color-dark-5;
          }
        }
      }
      .btn-group {
        .dropdown-menu {
          background-color: $color-dark-6;
          border-color: $color-dark-2;
          .dropdown-item {
            color: $color-dark-5;
            &:hover {
              color: $color-dark-5;
              background-color: $color-dark-0;
            }
          }
        }
      }
    }
    hr {
      background-color: $color-dark-2;
    }
    .footer__bottom {
      color: $color-dark-3;
      img {
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          display: inline-block;
        }
      }
      .nav-link {
        color: $color-dark-5;
      }
    }
  }
}
