.darkMode {
  .header__navbar {
    background-color: $color-dark-4;
    .header__navleft {
      .navbar-brand {
        img {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: inline-block;
          }
        }
      }
      .header__categories {
        i {
          color: $color-dark-5;
        }
        color: $color-dark-3;
      }
      .header__form-search {
        @include typeFormSearch(
          $color-dark-0,
          $color-dark-6,
          $color-dark-2,
          $color-white-0
        );
      }
    }
    .header__navright {
      .navbar-nav {
        .nav-item {
          border: 1px solid transparent;
          .nav-link {
            color: $color-dark-5;
            transition: border-color 0s;
            &:hover {
              background-color: $color-dark-0;
            }
          }
          &:hover {
            border: 1px solid $color-dark-2;
          }
          .header__overlay {
            background-color: $color-dark-4;
            color: $color-dark-5;
            border: 1px solid $color-dark-2;
            &::before {
              background-color: $color-dark-4;
              border-color: $color-dark-2;
            }
          }
        }
        .navright__buttons {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    .navbar-toggler {
      background-color: $color-dark-5;
    }
  }
}
