.darkMode {
  .jobs {
    background-color: $color-dark-6;
    .jobs__content {
      .row {
        .border-end {
          border-color: $color-dark-2 !important;
        }
        .jobs__item {
          h2 {
            color: $color-dark-5;
          }
        }
      }
    }
  }
}
