.darkMode {
  .students {
    background-color: $color-dark-6;
    .students__content {
      h2 {
        color: $color-dark-3;
      }
    }
  }
  .card--feedback {
    background-color: $color-dark-4;
    .card-body {
      .card__top {
        .card__name {
          color: $color-dark-5;
        }
      }
    }
  }
}
