.banner {
  background: url("/assets/img/udemy-logo-semi-transparent.svg") 0/30% no-repeat,
    linear-gradient(60deg, $color-purple, $color-blue-1 41%);
  background-blend-mode: overlay;
  height: 325px;

  text-align: center;
  display: flex;
  align-items: center;
  h2 {
    @include styleText($color-white-0, $fs-4, $fw-0);
  }
  p {
    color: $color-white-0;
    margin-bottom: 0;
  }
  button {
    margin: $mg-4 0;
  }
}
