.courses {
  margin: $mg-1 0;
  .courses__content {
    width: 90%;
    margin: auto;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .courses__left {
      background-color: $color-gray-1;
      padding: 2rem 2rem;
      display: flex;
      align-items: center;
      h2 {
        @include styleText($color-black-0, $fs-3 + 1, $fw-0);
      }
      p {
        margin-bottom: 0;
      }
    }
    #myTab {
      margin-bottom: $mg-1;
      .nav-link {
        @include styleText($color-black-0, $fs-0, $fw-0);
        border: none;
        &.active {
          border-bottom: 5px solid $color-blue-0;
        }
        &:hover {
          border-color: transparent;
          color: $color-blue-0;
        }
        &:hover.active {
          border-bottom: 5px solid $color-blue-0;
        }
      }
    }
  }

  @include responsive("screen-1") {
    .card {
      .card-body {
        .card-title {
          @include styleText($color-black-0, $fs-0 - 2, $fw-1);
          margin-bottom: 0;
        }
      }
    }
  }
}
