.sidebarMini {
  width: 400px;
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 2;
  background-color: $color-gray-4;
  transform: translateX(100%);
  transition: all 0.5s;
  .sidebarMini__button {
    @include styleButton(
      $color-black-0,
      $color-gray-4,
      $color-gray-4,
      $fs-5,
      $fw-0,
      $pd-3,
      $pd-2
    );
    transition: all 0.5s;
    border-radius: 8px 0 0 8px;
    position: absolute;
    right: 100%;
    top: 0;
  }
  .sidebarMini__content {
    width: 150px;
    padding: $pd-3;
    text-align: center;
    h2 {
      font-size: $fs-0;
    }
    .switch {
      height: 25px;
      width: 50px;
      margin: 0 $mg-4;
      position: relative;
      input {
        display: none;
        &:checked + .slider {
          &::before {
            left: 54%;
          }
        }
      }
      .slider {
        position: absolute;
        background-color: $color-gray-7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius-3;
        cursor: pointer;
        &::before {
          content: "";
          width: 18px;
          height: 18px;
          background-color: $color-white-0;
          border-radius: $border-radius-2;
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
          transition: all 0.5s;
        }
      }
    }
  }
  &.is-opened {
    transform: translateX(60%);
  }
}
